#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.traveldiv{
    border: 1px solid lightgrey;
    
    
}
.traveldiv img {
    width: 100%;
    
}
.traveldiv h5, .traveldiv p{
margin-left: 20px;
    
}
.moviehead{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.moviehead i{
    float: right;
}